@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  @apply dark:bg-neutral-950 dark:text-white bg-[#FAFAFA];
}

#triangle-down {
  /* position: absolute; */
  /* bottom: -10; */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #090c2c;
}

html.dark #triangle-down {
  border-top: 10px solid #000;
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #eee;
}
/* Track Dark */
html.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #222;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 40px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #999;
}
/* Handle Dark */
html.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
